{% autoescape None %}
{% extends "view_page_detail.html" %}

{% block content %} 

{{ form.set_column_headings("gramps_id", 
                            "primary_name.surname_list.surname",
                            "primary_name.first_name",
                "gramps_id",
                "gender",
                "birth_ref_index",
                "death_ref_index",
                           ) }}
{{ form.set_row_link("/person/%(handle)s") }}
{{ form.select(["gramps_id", 
                "primary_name.surname_list.0.surname",
                "primary_name.first_name",
                "gramps_id",
                "gender:gender",
                "birth_ref_index:event_index",
                "death_ref_index:event_index",
                "handle"
               ], sort=True) }}

<table cellspacing="0" class="infolist surname" width="95%">
<tr>
{% for col in form.get_columns() %}
  <th>
    {{col}}
  </th>
{% end %}
</tr>
{% for row in form.get_page(start) %}
  <tr>
  {% for col in row %}
      <td>
      {{col}}
      </td>
  {% end %}
  </tr>
{% end %}
</table>

{% end %}
